body {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #111111;
  line-height: 1.5;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #37BEF8;
  padding: 0 30px;
  margin: 0 0 70px;
}

.title{
  font-size: 40px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  display: inline-block;
  color: #111111;
  text-decoration: none;
}
.menu-item:first-of-type {
  padding: 20px;
}

.subtitle {
  font-size: 36px;
  margin: 0 0 40px;
}

.main {
  padding: 0 60px;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
}

.copyright {
  color: #ffffff;
}
